*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbarSupportedContent .nav-link{
    color: rgb(9, 180, 9);
}

#carouselExampleSlidesOnly img{
    height: 500px;
    width: 100%;
}

.third-sec h1{
    position: relative;
}

.third-sec h1::after{
    position: absolute;
    content: "";
    background-color: white;
    height: 5px;
    width: 10%;
    left: 46%;
    bottom: 3%;
}


.third-sec .f-cont i{
    color:rgb(9, 180, 9) ;
    font-size: 40px;
}

.fourth-sec h1{
    position: relative;
}

.fourth-sec h1::after{
    position: absolute;
    content: "";
    background-color: rgb(48, 47, 47);
    height: 5px;
    width: 10%;
    left: 45%;
    bottom: 3%;
}

.pro-cont .pro{
    background-color: rgb(48, 47, 47) ;
    color: white;
    width: 250px;
    
}

.pro-cont .pro img{
    width: 100%;
    height: 200px;
}

.fourth-sec .btn{
    border:1px solid rgb(9, 180, 9);
    background-color: transparent;
    position: relative;
    z-index:1;
}

.fourth-sec .btn::after{
    content: "";
    position: absolute;
    background-color: rgb(9, 180, 9);
    border-radius: 5px;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.fourth-sec .btn:hover::after{
    width: 100%;
    transition: 1s;
}


.prc{
    border: 1px solid rgb(9, 180, 9);
    padding: 10px;
    border-radius: 5px;
}

.foot-input{
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(9, 180, 9);
    outline: none;
    color: white;
}

.btns{
    color: white;
    background-color:rgb(9, 180, 9);
    padding: 10px;
    border: none;
    border-radius: 5px;
}

hr{
    margin: 0;
    color: white;
}

.lasp{
    margin: 0;
    text-align: center;
    color: white;
}

@media(max-width:768px){

    html{
        font-size: 12px;
    }

    .lasp{
       font-size: 12px;
    }

    .pro-cont .pro{
        background-color: rgb(48, 47, 47) ;
        color: white;
        width: 140px;
        font-size: 10px;
    }

    .pro-cont .pro img{
        width: 100%;
        height: 100px;
    }

    .fourth-sec .btn{
        font-size: 9px;
    }

    .proName1,.proName2,.proName3,.proName4,.proName5,.proName6{
        font-size: 15px;
    }


    #carouselExampleSlidesOnly img{
        height: 300px;
        width: 100%;
    }

}

@media(max-width:425px){

    .pro-cont .pro{
        background-color: rgb(48, 47, 47) ;
        color: white;
        width: 180px;
        font-size: 10px;
    }

    .pro-cont{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px;
    }

    .pro{
        width: 33%;
    }

    .footer-cont{
        font-size: 10px;
        width: 100%;
        margin: 0;
    }

    .btns{
        padding: 3px;
    }

    .foot-input{
        width: 100px;
        height: 30px;
        padding: 0;
    }

    .foot-cont{
        width: 33.3%;
        margin: 4px;
    }

    .foot-cont h4{
       font-size: 13px;
    }

    .foot-cont h2{
        font-size: 14px;
    }

    .lasp{
        font-size: 10px;
    }
}

@media(max-width:404px){
    
    .pro-cont .pro{
        background-color: rgb(48, 47, 47) ;
        color: white;
        width: 150px;
        font-size: 10px;
    }
}

@media(max-width:375px){

    .pro-cont{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    html{
        font-size: 10px;
    }

    .pro-cont .pro{
        background-color: rgb(48, 47, 47) ;
        color: white;
        width: 140px;
        font-size: 10px;
    }

    .pro-cont .pro img{
        width: 100%;
        height: 100px;
    }

    .fourth-sec .btn{
        font-size: 9px;
    }

    .proName,.proName2,.proName3,.proName4,.proName5{
        font-size: 15px;
    }

    .footer-cont{
        font-size: 10px;
        width: 100%;
        margin: 0;
    }

    .btns{
        padding: 3px;
    }

    .foot-input{
        width: 100px;
        height: 30px;
        padding: 0;
    }

    .foot-cont{
        width: 33.3%;
        margin: 4px;
    }

    .foot-cont h4{
       font-size: 13px;
    }

    .foot-cont h2{
        font-size: 14px;
    }

    .lasp{
        font-size: 10px;
    }

}

@media(max-width:340px){

    html{
        font-size: 10px;
    }

    .pro-cont .pro{
        background-color: rgb(48, 47, 47) ;
        color: white;
        width: 140px;
        font-size: 10px;
    }

    .pro-cont .pro img{
        width: 100%;
        height: 100px;
    }

    .fourth-sec .btn{
        font-size: 9px;
    }

    .proName,.proName2,.proName3,.proName4,.proName5{
        font-size: 15px;
    }

    #carouselExampleSlidesOnly img{
        height: 200px;
        width: 100%;
    }

}